* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Mono", monospace;
  background-color: #bbf7d073;
  font-weight: 400;
  color: #334155;
}
h1 {
  font-family: "Lobster", cursive;
  font-size: 44px;
  color: #064e3b;
}
.container {
  width: 1200px;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 5px;
  border-bottom: solid rgb(95, 95, 95);
  position: relative;
  background-color: #fff;
  z-index: 2;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 20px;
  padding: 50px 0;
}
.name {
  padding: 12px;
  font-size: 72px;
}
.name-block {
  display: flex;
  margin-bottom: 44px;
  justify-content: center;
}
.name-block svg {
  width: 40px;
  fill: #064e3b;
}

p {
  line-height: 2;
  font-weight: 300;
  letter-spacing: 1px;
}
.image-1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 5px;
  width: 500px;
}
.image {
  width: 40%;
  border-radius: 10px;
  box-shadow: 0px 20px 30px -10px rgb(38, 57, 77);
}
.image-3 {
  justify-self: end;
}
.image-5 {
  justify-self: end;
}

.project-section div:nth-child(odd) p {
  margin-left: 30px;
}
.project-section div:nth-child(odd) p {
  margin-right: 30px;
}
section {
  margin: 0px 20px;
}

.tech {
  background-color: #34d3995d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
  padding: 44px;
}
.tech-heading {
  margin: 64px 0 44px 0;
  font-weight: 800;
}
.tech {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.subtech {
  justify-self: center;
}
.subtech:last-child {
  grid-row: 2 / span 3;
}
.subtech p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 18px 0 24px 0;
}
.tech-icons {
  width: 50px;
  justify-self: center;
}

.javascript svg {
  padding-left: 32px;
}

/* Background design*/

.circle-1 {
  top: 100px;
  left: 10px;
  width: 100px;
  height: 100px;
  background-color: #ffc7df;
}
.circle-2 {
  bottom: 400px;
  right: 80px;
  width: 500px;
  height: 500px;
  background-color: #76eb66;
}
.circle-3 {
  top: 0px;
  right: 0px;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: #7aebff;
}
.circle-4 {
  bottom: 0px;
  left: 50px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #eec1b2;
}
.circle-5 {
  top: 300px;
  left: 50px;
  width: 400px;
  height: 400px;
  background-color: #fffc62;
}
.circle-6 {
  bottom: 680px;
  left: 0px;
  width: 400px;
  height: 400px;
  background-color: #bfffbf;
}
.circle-7 {
  top: 600px;
  right: 100px;
  width: 200px;
  height: 200px;
  background-color: #9767d6;
}
.circle-8 {
  top: 750px;
  right: 400px;
  width: 70px;
  height: 70px;
  background-color: #eed78d;
}
.circle-9 {
  top: 0px;
  left: 200px;
  width: 150px;
  height: 150px;
  background-color: #cf7cff;
}
.circle-0 {
  top: 600px;
  right: 100px;
  width: 200px;
  height: 200px;
  background-color: #3cffbe;
}
.circle-10 {
  bottom: 200px;
  right: 50px;
  width: 150px;
  height: 150px;
  background-color: #452075c7;
}
.circle-11 {
  top: 1400px;
  right: 100px;
  width: 150px;
  height: 150px;
  background-color: #70c556;
}

.circle-12 {
  top: 1000px;
  right: 500px;
  width: 200px;
  height: 200px;
  background-color: #c5a13e;
}

.circle-13 {
  bottom: 1100px;
  right: 0px;
  width: 300px;
  height: 300px;
  background-color: #7affad;
}

.circle-14 {
  bottom: 1300px;
  left: 200px;
  width: 400px;
  height: 400px;
  background-color: #cea8ff;
}

.circle {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  /* background-color: #eeecec; */
  transform: translateY(0px);
  /* opacity: 0; */
  transition: 5s all ease;
  /* animation-iteration-count: infinite; */
}

/* projects section */
.projects-heading {
  display: inline-block;
  margin: 90px 0 44px 0;
  font-family: "Lobster", cursive;
}
.project-section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 44px;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #34d3995d;
  border-radius: 10px;
  padding: 24px;
}
.my-projects {
  font-size: 32px;
  font-weight: 600;
}
.des {
  display: block;
}
.project-div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.contact-heading {
  display: flex;
  gap: 25px;
  margin: 80px 0 32px 0;
}
.contact-heading svg {
  padding-top: 10px;
  width: 40px;
  fill: #064e3b;
}
.contact-section svg {
  width: 60px;
}
svg {
  fill: #334155;
}
.contact-section {
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #34d3995d;
  padding: 48px;
  border-radius: 10px;
  margin-bottom: 48px;
}
